@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Yellowtail&display=swap');

:root {
  --main: #e88a46;
  --dark: #d36231;
  --mid: #faaa56;
  --brown: #76584b;
  --lightBrown: #b69a8b;
  --extraLight: #f9f0ea;
  --grey: #686868;
  --white: #ffffff;
  --heading: 'Yellowtail', cursive;
  --body: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;

}

body {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to right top, rgb(255, 78, 78), rgb(255, 138, 112));
  font-family: var(--body);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

// LOGIN PAGE

.loginMain {
  width: 100vw;
  min-height: 100vh;

  background: linear-gradient(to right top, rgb(255, 78, 78), rgb(255, 138, 112));
  background-image: url('../images/pear-background.png');
  background-size: 25rem;
  background-repeat: repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--body);

  .holder {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    background: linear-gradient(to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3));
    border-radius: 2rem;

    backdrop-filter: blur(2rem);

    h1 {
      color: #426696;
      font-weight: 800;
      font-size: 3rem;
      opacity: 0.8;
    }
  }

  img {
    width: 300px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 300px;
    opacity: 0.8;

  }

  a {
    width: 100%;
  }

  input,
  button {
    width: 100%;
    height: 40px;
    margin: 10px 0 10px 0;
    border-radius: 4px;
    font-family: var(--body);
  }

  input {
    border: none;
    background: var(--extraLight);
    font-size: 15px;
    padding-left: 10px;
  }

  button {
    background: var(--extraLight);
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 500;
    border: none;
  }
}

// REGISTRATION PAGE

.regMain {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to right top, rgb(255, 78, 78), rgb(255, 138, 112));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--body);

  .holder {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    background: linear-gradient(to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);

  }

  h1 {
    color: #426696;
    font-weight: 800;
    font-size: 3rem;
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 20px;
  }

  img {
    width: 300px;
    margin: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 300px;
    text-align: left;
    margin: 2rem;
  }

  a {
    width: 100%;
  }

  label {
    width: 100%;
    font-weight: 300;
  }

  input,
  button,
  textarea,
  select {
    width: 100%;
    height: 35px;
    margin: 10px 0 10px 0;
    border-radius: 4px;
    font-family: var(--body);
  }

  input,
  textarea,
  select {
    border: none;
    background: var(--extraLight);
    font-size: 16px;
  }

  textarea {
    height: 100px;
  }

  button {
    background: var(--extraLight);
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 500;
    border: none;
  }
}

// FOOTER/NAVBAR

footer {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  left: 0;


  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  img {
    width: 40px;
  }

  .smallLogo {
    width: 4rem;
    margin-bottom: 1rem;
  }
}

// HEADER 

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);

}

header {
  z-index: 9;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;


  .spacerDiv,
  .settingsDiv {
    width: 75px;
  }

  .settingsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  img {
    width: 25px;
  }

  h1 {
    color: #426696;
    font-weight: 800;
    font-size: 3rem;
    opacity: 0.8;
    font-family: var(--body);
  }
}

// SWIPE PAGE

.swipeMain {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right top, rgb(255, 78, 78), rgb(255, 138, 112));

  .cardContainer {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .card {
    position: relative;
    width: 300px;
    max-width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-color: white;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
  }

  .swipe {
    position: absolute;
  }

  .nameAge {
    width: 100%;
    height: 60px;
    background: var(--white);
    text-align: left;
    font-family: var(--body);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 0 0 10px;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }

  .smallButtonContainer,
  .largeButtonContainer {
    width: 80%;
    height: 80px;
    display: flex;
    flex-direction: row;
  }

  .smallButtonContainer {
    align-items: center;
    justify-content: space-between;
  }

  .largeButtonContainer {
    align-items: center;
    justify-content: center;
  }

  .smallButton {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px var(--lightBrown);

    img {
      width: 60%;
    }
  }
}

// MODAL

.modalContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(249, 240, 234, 0.75);

  .imageContainer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .imageInner {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    overflow: hidden;
    margin: 10px;
  }

  img {
    max-width: 100%;
  }

  h2 {
    font-family: var(--heading);
    font-size: 40px;
  }

  button {
    width: 100px;
    height: 30px;
    background: var(--extraLight);
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 500;
    border: none;
  }

}

.modalContent:focus {
  outline: 0;
}

// MATCHES

.matchesMain {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right top, rgb(255, 78, 78), rgb(255, 138, 112));

  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
  }

  h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: var(--body);
    font-size: 12px;
    font-weight: 400;
  }

  .matchesContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    margin: 100px 0 80px 0;

    h3 {
      margin: 0%;
      margin-top: 0.5rem;
      font-family: var(--body);
    }

    .userDetails {
      margin: 10px;
      text-align: center;

      .buttonContainer {
        width: 130px;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        button {
          width: 60px;
          height: 25px;
          border-radius: 4px;
          font-size: 10px;
          font-family: var(--body);
          background: linear-gradient(to right bottom,
              rgba(255, 255, 255, 0.7),
              rgba(255, 255, 255, 0.3));
          border: none;

          &:hover {
            background: linear-gradient(to right bottom,
                rgba(181, 181, 181, 0.693),
                rgba(255, 255, 255, 0.3));
          }
        }
      }
    }
  }

  .userImage {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px var(--lightBrown);

    img {
      width: 100%;
    }
  }
}

// CHAT

.chatMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right top, rgb(255, 78, 78), rgb(255, 138, 112));
  font-family: var(--body);

  header {
    justify-content: space-evenly;

    .backButton {
      width: 80px;
    }

    img {
      width: 30px;
    }
  }

  h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: var(--body);
    font-size: 12px;
    font-weight: 400;
  }

  .chatContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    width: 90%;
  }

  .chatInner {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    width: 100%;
    height: 60vh;
    box-shadow: 0 0 5px var(--lightBrown);
  }

  .chatInput {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    input {
      width: 100%;
      height: 2rem;
      box-shadow: 0 0 5px var(--lightBrown);
      border: none;
    }
  }

  button:focus {
    outline: 0;
  }

  button {
    background: none;
    border: none;

    img {
      width: 25px;
    }
  }
}

// UPDATE USER PROFILE

.updateUserProfileMain {
  height:100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right top, rgb(255, 78, 78), rgb(255, 138, 112));
  font-family: var(--body);

  .updateContainer {
    height: 80vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    width: 80%;
    background: linear-gradient(to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    overflow-y:scroll;
  }

  .userForm {
    width: 300px;
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  a {
    width: 100%;
  }

  input,
  button,
  textarea {
    width: 100%;
    height: 40px;
    margin: 10px 0 10px 0;
    border-radius: 4px;
    font-family: var(--body);
    font-size: 15px;
    padding-left: 10px;
    box-shadow: 0 0 3px var(--lightBrown);
  }

  textarea {
    height: 100px;
  }

  label {
    width: 100%;
    text-align: left;
  }

  button {
    background: var(--extraLight);
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 500;
    border: none;
  }

  .interestsOuter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .interest {
    background: var(--mid);
    padding: 10px;
    border-radius: 4px;
    margin: 2px;
  }
}

// SETTINGS

.settingsMain {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--extraLight);
  font-family: var(--body);

  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
  }

  form {
    width: 300px;
    margin: 100px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  select {
    width: 100%;
    height: 40px;
    margin: 10px 0 10px 0;
    border-radius: 4px;
    font-family: var(--body);
    font-size: 15px;
    padding-left: 10px;
    box-shadow: 0 0 3px var(--lightBrown);
  }

  label {
    width: 100%;
    text-align: left;
  }

  button {
    background: var(--extraLight);
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 500;
    border: none;
  }
}

// VIEW USER PROFILE

.userProfileMain {
  width: 100vw;
  min-height: 100vh;
  background: var(--extraLight);
  font-family: var(--body);

  h2,
  h3 {
    text-align: left;
  }

  .slide-container {
    z-index: 1;
    width: 100%;
    margin: 100px 0 0 0;
  }

  .userInfo {
    width: 90vw;
    margin: auto;
    margin-bottom: 80px;
    text-align: left;

    .bio {
      min-height: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    .interestsOuter {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .interest {
      width: 100px;
      background: var(--mid);
      padding: 10px;
      border-radius: 4px;
      margin: 2px;
    }

    .socialsContainer {
      width: 90vw;
      padding-bottom: 15px;
      display: flex;
      flex-direction: row;
      text-align: left;
      align-items: flex-start;
      justify-content: space-between;
    }

    a {
      img {
        width: 40px;
      }
    }
  }


}